
babyfoot/.vs/babyfoot/v16/Server/sqlite3/storage.ide-wal
babyfoot/.vs/babyfoot/v16/Server/sqlite3/storage.ide
*.ide-shm
*.ide
*.ide
*.ide
babyfoot/.vs/babyfoot/v16/Server/sqlite3/storage.ide
babyfoot/.vs/babyfoot/v16/Server/sqlite3/storage.ide
*.ide
babyfoot/.vs/babyfoot/v16/Server/sqlite3/storage.ide-shm
