<p-dataView #dv [value]="tournaments" [paginator]="true" [rows]="5" paginatorPosition="both" filterBy="arbre.team.players[0].pseudo"
[sortField]="sortField" [sortOrder]="sortOrder">
    <p-header>
        <div class="ui-helper-clearfix">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-4">
                    <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
                </div>
                <div class="ui-g-6 ui-md-4 filter-container">
                    <div style="position:relative">
                        <input type="search" pInputText placeholder="Search by pseudo" (keyup)="dv.filter($event.target.value)">
                    </div>
                </div>
            </div>
        </div>
    </p-header>
    <ng-template let-tournament pTemplate="listItem">
        <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
            <div class="ui-g-12 ui-md-8 tournament-details" [routerLink]="['/tournament', tournament.id]">
                <div class="ui-g">
                    <div class="ui-g-2 ui-sm-6">Date: </div>
                    <div class="ui-g-10 ui-sm-6"><b>{{tournament.date | date: 'dd/MM/yyyy'}}</b></div>

                    <div class="ui-g-2 ui-sm-6">Player 1: </div>
                    <div class="ui-g-10 ui-sm-6"><b>{{getFinalMatch(tournament).team[0].pseudos[0]}}</b></div>

                    <div class="ui-g-2 ui-sm-6">Player 2: </div>
                    <div class="ui-g-10 ui-sm-6"><b>{{getFinalMatch(tournament).team[0].pseudos[1]}}</b></div>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataView>
