<div class="container">
    <div class="card shadow" routerLink="/create">
        <img class="card-img-top" src="assets/images/babyfoot.png">
        <div class="card-body text-center">
            <h5 class="card-title text-success">Start a Tournament</h5>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 70px;">
    <div class="card shadow" routerLink="/tournament">
        <img class="card-img-top" src="assets/images/champion.png">
        <div class="card-body text-center">
            <h5 class="card-title text-warning">Tournaments</h5>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 70px;">
    <div class="card shadow" routerLink="/players">
        <img class="card-img-top" src="assets/images/players.jpg">
        <div class="card-body text-center">
            <h5 class="card-title text-view">Players</h5>
        </div>
    </div>
</div>
